[fragment] {
    display: none;
}

.linkable {
    cursor: pointer;
}
a, a:hover {
  color: #EC2E90;
}

img {
  display: inline-block;
}

.main-container {
  margin-top: 25px;
}
.api-container {
  height: 1px;
}
.api-reference {
  position: fixed;
  width: 314px;
}

.logo {
  margin: -29px 0 10px -15px;
}

.infinity-logo {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5em;
  position: relative;
  top: 3px;
  color: #1D95CB;
  -webkit-transition: color 0.15s linear;
     -moz-transition: color 0.15s linear;
      -ms-transition: color 0.15s linear;
       -o-transition: color 0.15s linear;
          transition: color 0.15s linear;
}
.infinity-logo:hover {
  color: #2EA6DC;
  text-decoration:none;
}

.logo-link {
  color: #1D95CB;
  -webkit-transition: color 0.2s linear;
     -moz-transition: color 0.2s linear;
      -ms-transition: color 0.2s linear;
       -o-transition: color 0.2s linear;
          transition: color 0.2s linear;
}

.logo-link:hover {
  color: #2EA6DC;
  text-decoration: none;
}

h2, h3 {
  font-weight: normal;
}
.api-header-link {
  color: black;
  -webkit-transition: color 0.1s ease-out;
     -moz-transition: color 0.1s ease-out;
      -ms-transition: color 0.1s ease-out;
       -o-transition: color 0.1s ease-out;
          transition: color 0.1s ease-out;
}
.api-header-link:hover {
  text-decoration: none;
  color: #1D95CB;
}

.logo-prefix {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 200px;
  line-height: 200px;
}
.logo-suffix {
  font-size: 135px;
  line-height: 135px;
  position: relative;
  top: -23px;
  left: -15px;
  color: black;
}

.main-copy {
  margin-bottom: 10px;
}
.main-copy p {
  font-size: 20px;
  line-height: 27px;
  font-weight: 200;
  margin-bottom: 17px;
}

.start-container {
  padding-top: 10px;
}

.download-box {
  margin-top: 8px;
}

.download {
  margin-bottom: 6px;
  padding-right: 16px;
}

.download .btn {
  float: right;
}

.quickstart-text:last-child {
  padding: 27px 0 9px 0;
}
.quickstart-text:first-child {
  padding-bottom: 30px;
}
.quickstart-code {
  margin-top: -17px;
}

.navbar .container {
  width: auto;
}
.navbar .brand {
  line-height: 15px;
}
.navbar .navbar-inner ul li .btn {
  font-weight: normal;
  text-shadow: none;
}

.navbar-fixed-top .brand {
  position: relative;
  left: 10px;
}

.icon-github {
  font-size: 12px;
  position: relative;
  left: -1px;
}

.fork {
  position: relative;
  left: 5px;
}
.navbar-fixed-top .fork {
  left: -10px;
}

.download-copy {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.api-doc {
  margin-bottom: 40px;
}
.api-doc:last-child {
  margin-bottom: 10px;
}

.api-copy, .api-list {
  font-size: 14px;
  margin-top: 14px;
  line-height: 22px;
}

.api-list li {
  margin-bottom: 12px;
  line-height: 22px;
}
.api-list li:last-child {
  margin-bottom: 0;
}

.summary .panel-header {
  text-align:center;
}

.summary li {
  text-align: right;
}

.summary a , .summary a:hover {
  color: black;
  font-size: 16px;
  line-height: 40px;
}

.pug-box {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.pug-box:hover {
  box-shadow: 0px 0px 5px 1px #EE71BA;
  border-color: #EE71BA;
}
.pug-box .caption {
  padding-right: 70px;
}
.pug {
  border-radius: 4px;
}

.spinner {
  margin: 40px 493px;
}

.magnify {
  width: 30px;
  height: 31px;
  display: block;
  border-radius: 6px;
  position: absolute;
  opacity: 0.7;
  top: 10px;
  left: 10px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #777;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}
.magnify:hover {
  text-decoration: none;
}
.magnify:hover, .heart.saved {
  opacity: 0.95;
}

.magnify-inner {
  color: rgba(84,84,85);
  position: absolute;
  left: 5px;
  top: 2px;
  cursor: pointer;
}

.tooltip {
  z-index: 1000;
}

.exact-match-tag {
  position: absolute;
  bottom: -48px;
  right: 4px;
}
.exact-match-top {
  background-color: #EC2E90;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  position: relative;
  top: -78px;
  left: 18px;
  margin-bottom: -26px;
  border-top: 1px solid #A50A56;
}
.exact-match-bottom {
  width: 68px;
  height: 66px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  border: 1px solid #A50A56;
  box-shadow: 1px 1px 5px #547;

  background: #ec2290; /* Old browsers */
  background: -moz-linear-gradient(top, #ec2290 39%, #cc287a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#ec2290), color-stop(100%,#cc287a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ec2290 39%,#cc287a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2290', endColorstr='#cc287a',GradientType=0 ); /* IE6-9 */
}

.exact-match-text, .curr-symbol, .per-night {
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: normal;
}

.curr-symbol {
  color: #A50A56;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5),0 1px 1px rgba(255, 255, 255, 0.5)
}

.exact-match-text {
  margin-top: 18px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.per-night {
  color: #fff;
  font-size: 10px;
}

.exact-match-tag .icon-pushpin {
  position: relative;
  left: 30px;
  top: -93px;
  margin-bottom: -16px;
  font-size: 14px;
  -webkit-transform: scaleX(-1);
}

.rotate-right {
  -webkit-transform: rotate(3deg);
}

.rotate-left {
  -webkit-transform: rotate(-3deg);
}

#brian-box {
  position: relative;
  margin: 30px 0;
  width: 102px;
}

#brian {
  width: 100px;
  height: 100px;
}

#brian-announce {
  margin-top: 30px;
  position: relative;
  left: -35px;
  top: 2px;
}

.message-from {
  text-align: center;
}
h1.message-from {
  font-size: 60px;
  font-style: italic;
  line-height: 150px;
}

.demo-sep {
  margin-bottom: 60px;
}

.demo-link {
  display: block;
}

.pug {
    width: 312px;
}
